
.playlists{
    text-align: center;
    color: #1DB954;
    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 64px 0;
    }


    &-invisible{
        width: 300px;
        height: 0;
    }

    
}
