.playlists {
  text-align: center;
  color: #560bad;
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 64px 0;
  }

  &-invisible {
    width: 200px;
    padding: 16px;
    height: 0;
  }
}
