.playlist-track{
  width: 100%;
  background: black;
  border-bottom: 1px solid grey;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;

  &:hover{
    background: #1DB954;
    color: black;


    .playlist-track__name{
      color: black !important;
    }

    .playlist-track__artist{
      color: black !important;
    }
  }

  &__name{
    margin-right: 32px;
    color: white;
    font-size: 16px;
  }

  &__artist{
    color: grey;
    font-size: 12px;
  }

  @media screen and (max-width: 768px) {
    &__name{
      margin-right: 16px;
      font-size: 14px;
      margin-bottom: 0;
    }

    &__artist{
      font-size: 14px;
    }

  }

  img{
    height: 30px;
    width: 30px;
    margin-right: 32px;
  }
}
