.modal {
  position: fixed;
  width: max-content;
  height: max-content;
  max-width: 80vw;
  background: white;
  border: 2px solid #560bad;
  color: #560bad;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
