h1 {
  color: #560bad;
  text-align: center;
}

.home {
  &-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 82px 0;
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 45%;
      height: 200px;
      border: 2px solid #560bad;
      color: #560bad;
      margin-bottom: 32px;
      border-radius: 10px;
      font-size: 24px;
      font-weight: bold;
      transition: 0.5s;
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      &:hover {
        background: #560bad;
        color: white;
        cursor: pointer;
      }
    }
  }
}
