.playlist-creator{

  .container{
    color: #1DB954;
  }

}

.artists{

  &-list{
    padding: 82px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  &-item{
    width: 200px;
    margin-bottom: 32px;
    border: 1px solid #1DB954;
    text-align: center;
    img{
      width: 200px;
      height: 200px;
    }
  }

  &-invisible{
    width: 200px;
    height: 0;
  }
}
