.playlist-creator {
  .container {
    color: #560bad;
  }

  .btn-generate {
    background: #560bad;
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &:hover {
      background: #320269;
    }
  }

  &__search {
    @media screen and (max-width: 768px) {
      flex-direction: column;

      input {
        width: 100%;
        margin: 8px 0 !important;
      }

      .btn {
        width: 100%;
        margin: 8px 0 !important;
      }
    }
  }

  #search {
    border: 1px solid #560bad;
    border-radius: 40px;
    color: #320269;
  }
}

.artists {
  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-picks {
    display: flex;
    padding: 32px;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &-badge {
    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #560bad;
    background: #560bad;
    color: white;
    font-weight: bold;
    padding: 8px;
    margin: 0 8px;
    border-radius: 20px;

    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
    }

    &__delete {
      position: absolute;
      top: -15px;
      right: -15px;
      border-radius: 50%;
      font-size: 12px;
    }
  }

  &-invisible {
    width: 200px;
    height: 0;
  }
}
