.playlist {
  &-header {
    height: 250px;
    background: #560bad;
    color: black;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
  }

  &-similar {
    &__header {
      border: 2px solid #560bad;
      border-radius: 20px;
    }
  }

  &-tracks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border: 2px solid #560bad;
    margin: 32px auto;
    border-radius: 20px;
    overflow: hidden;
    .title {
      color: #560bad;
    }
  }
}
