.playlist{

  &-header{
    height: 250px;
    background: #1DB954;
    color: black;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
  }

  &-similar{

    &__header{
      border-top: 2px solid #1DB954;
      border-bottom: 2px solid #1DB954;
    }
  }

  &-tracks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}
