.page-header{
  min-height: 100px;
  background: #1DB954;
  color: black;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
